BasedOnStyle: Google
ColumnLimit: 100
IncludeBlocks: Preserve
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
